@import (less) 'node_modules/normalize.css/normalize.css';
@import (less) './_media';

@color-svg: #800;
@color-hover-svg: #008;
@color-primary: #888;
@color-btns: #ddd;
@color-display: #fff;

*,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Roboto, sans-serif;
}

.calc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 300px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 1.3rem;
    background-color: @color-primary;

    &__disp {
        width: 100%;
        position: relative;
        border-radius: 13px;
        background-color: @color-display;        
    }

    &__hist {
        display: block;
        height: 1.3rem;
        width: 90%;
        margin: .5rem auto;
        // position: absolute;
        // top: 0;
        // right: 5%;
        border: none;
        // background-color: #800;
        font-size: 1rem;
        text-align: right;
        white-space: nowrap;
        // text-overflow: ellipsis;
        overflow: hidden;
    }

    &__res {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        border: none;
        background-color: inherit;
        text-align: right;
    }

    &__btn {
        width: 24%;
        height: 35px;
        margin: 2px 0;
        border: none;
        border-radius: 13px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: @color-btns;
        
        &:hover {
            background-color: #aaa;
            transition: all .3s;
        }

        &:focus {
            outline: none;
        }
    }
}